@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

body {
    background-color: black;
    display: flex;
    font-family: "Momo Signature", cursive;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

p {
    color: aliceblue;
}

button {
    background-color: aliceblue;
    color: black;
    font-family: "Momo Signature", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
